TO get the top n rows

In [3]:
import pandas as pd
df = pd.read_csv('Zomatodata.csv')
df.head(10)

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1/5,775,800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,300,Buffet
4,Grand Village,No,No,3.8/5,166,600,Buffet
5,Timepass Dinner,Yes,No,3.8/5,286,600,Buffet
6,Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8,800,Buffet
7,Onesta,Yes,Yes,4.6/5,2556,600,Cafes
8,Penthouse Cafe,Yes,No,4.0/5,324,700,other
9,Smacznego,Yes,No,4.2/5,504,550,Cafes

In [4]:
df.tail(12)

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type)
136,Sri Sai Tiffannies,No,No,3.3/5,0,150,Dining
137,Hotel Andhra Speices,No,No,2.9/5,0,250,Dining
138,Sri Murari Family Restaurant,No,No,2.9/5,0,250,Dining
139,Aramane Donne Biriyani,No,No,2.9/5,0,150,Dining
140,Darkolates,No,No,3.3/5,0,200,Dining
141,Swaada Healthy Kitchen,No,No,3.3/5,0,350,Dining
142,Gawdaru Mane Beriyani,No,No,3.3/5,0,300,Dining
143,Melting Melodies,No,No,3.3/5,0,100,Dining
144,New Indraprasta,No,No,3.3/5,0,150,Dining
145,Anna Kuteera,Yes,No,4.0/5,771,450,Dining
146,Darbar,No,No,3.0/5,98,800,Dining
147,Vijayalakshmi,Yes,No,3.9/5,47,200,Dining

In [5]:
df.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes',
       'approx_cost(for two people)', 'listed_in(type)'],
      dtype='str')

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         148 non-null    str
 1   online_order                 148 non-null    str
 2   book_table                   148 non-null    str
 3   rate                         148 non-null    str
 4   votes                        148 non-null    int64
 5   approx_cost(for two people)  148 non-null    int64
 6   listed_in(type)              148 non-null    str
dtypes: int64(2), str(5)
memory usage: 8.2 KB

In [7]:
df.describe()

             votes  approx_cost(for two people)
count   148.000000                   148.000000
mean    264.810811                   418.243243
std     653.676951                   223.085098
min       0.000000                   100.000000
25%       6.750000                   200.000000
50%      43.500000                   400.000000
75%     221.750000                   600.000000
max    4884.000000                   950.000000